WEB_Eng_assignment3_XML_Schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student">
                    <xs:attribute name="age">
                    <xs:complexType>
                        <xs:element name="last_name">
                            <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                                <xs:pattern value="/^([^0-9]*)$/"/>
                            </xs:simpleContent>
                        </xs:element>
                        <xs:element name="first_name">
                            <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                                <xs:pattern value="/^([^0-9]*)$/"/>
                            </xs:simpleContent>
                        </xs:element>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:element name="postal_code">
            <xs:simpleContent>
                <xs:extension base="xs:string"/>
                <xs:pattern value="/^[0-9][0-9]{4}$"/>
            </xs:simpleContent>
        </xs:element>
        <xs:element name="email">
            <xs:simpleContent>
                <xs:extension base="xs:string"/>
            </xs:simpleContent>
        </xs:element>
        <xs:sequence>
            <xs:element name="phone">
                <xs:attribute name="type">
                    <xs:simpleContent>
                        <xs:extension base="xs:string"/>
                        <xs:pattern value="xs:/d"/>
                    </xs:simpleContent>
                </xs:attribute>
            </xs:element>
        </xs:sequence>
    </xs:element>
</xs:schema>

